= simple_form_for(task,
                  url: show_in_table_update_task_path(task),
                  html: { id: "task_#{task.id}",
                          class: 'row',
                          method: :put,
                          'hx-swap': 'outerHTML',
                          'hx-put': show_in_table_update_task_path(task)}) do |f|
  .col= f.input :name, label: false, input_html: {class: ''}
  .col= f.input :description, label: false, input_html: {class: ''}
  .col= f.select :user_id, options_for_select(User.all.map{|u| [u.email, u.id]}), {label: false}, {class: 'form-select'}
  .col= f.select :state, options_for_select(Task.states.keys.map { |state| [state.humanize, state] }, task.state), {label: false}, {class: 'form-select'}
  .col
    = button_tag type: 'submit', class: 'btn btn-primary' do
      %span.m-2 Update
      %i.bi.bi-unlock


