=simple_form_for(Task.new, :html => {method: :post, class: 'row' }) do |f|
  = f.hidden_field :project_id, value: project.id
  .col= f.input :name, required: true, label: false, input_html: {class: ''}
  .col= f.input :description, label: false, input_html: {class: ''}
  .col= f.select :user_id, options_for_select(User.all.map{|u| [u.email, u.id]}), {label: false}, {class: 'form-select'}
  .col= Task.states.first[0].humanize
  .col
    = button_tag type: 'submit', class: 'btn btn-primary' do
      %span.m-2 Create
      %i.bi.bi-plus