.container.d-flex.justify-content-center.align-items-start.my-4{style:'min-height: 100%'}
  .card{style:'min-width: 100%'}
    .card-header
      .d-flex
        .container
          %h2.card-title
            %i.bi.bi-sliders
              #{t(:edit)} #{t(:task)}

        = link_to @task do
          %i.bi.bi-journal.fs-1

    .card-body
      =simple_form_for @task do |f|
        =f.error_notification
        =f.input :name
        =f.input :description
        = f.label :user_id, 'Vyberte uživatele', class: 'mb-2'
        =f.select :user_id, options_for_select(User.all.map{|u| [u.email, u.id]}), {}, {class: 'form-select mb-4'}
        = f.label :state, 'Vyberte stav', class: 'mb-2'
        =f.select :state, options_for_select(Task.states.keys.map { |state| [state.humanize, state] }, @task.state), {}, {class: 'form-select'}
        .container.py-4
          %h4=t(:files)
          .d-flex.gap-4
            - for file_attachment in @task.file_attachments
              = render 'files/destroy_file_card', f: f, file_attachment: file_attachment

            = render 'files/create_file_card', f: f
        =f.button :submit, class: 'btn btn-primary'

:javascript
  document.addEventListener("turbo:load", function() {
    let original_input_element = $("#create-file-0-file")

    original_input_element.on('change', e => { clone_file_card() })
    var file_index = 1

    function clone_file_card() {
      const original = $('#create-file-0-card').first()
      const clone = original.clone()

      clone.find('#create-file-0-file')
        .attr({
          id: `create-file-${file_index}-file`,
          name: `task[file_attachments_attributes][${3+file_index}][file]`
        })
      original.find('#create-file-0-file')
        .val('')
      clone.find('#create-file-0-name')
        .attr({id: `create-file-${file_index}-name`})
        .text('No file selected')
      clone.find('#create-file-0-button')
        .attr({
          id: `create-file-${file_index}-button`,
          for: `create-file-${file_index}-file`,
          class: 'btn btn-outline-primary'
        })

      clone.insertBefore(original)

      let local_file_index = file_index
      let clone_input = $(`#create-file-${local_file_index}-file`)

      clone_input.on('change', e => {
        var file_name = $(e.target).val().split('\\').slice(-1)[0]

        let clone_text = $(`#create-file-${local_file_index}-name`)
        let clone_btn = $(`#create-file-${local_file_index}-button`)
        if (file_name !== clone_text.text()) {
          clone_text.text(file_name !== '' ? file_name : 'No file selected')
          if (clone_btn.hasClass('btn-outline-primary') || file_name === '') {
            clone_btn.toggleClass('btn-primary btn-outline-primary')
          }
        }
      })
      clone_input.trigger('change')
      file_index ++
    }
  })



