= simple_form_for(user,
                  url: show_in_table_update_user_path(user),
                  html: { id: "user_#{user.id}",
                          class: 'row',
                          method: :put,
                          'hx-swap': 'outerHTML',
                          'hx-put': show_in_table_update_user_path(user)}) do |f|
  .col= image_tag user.avatar.url || 'default_avatar.png', class: 'rounded-circle', style: 'width: 2rem; height: 2rem;'
  .col= f.input :email, label: false, input_html: {class: ''}
  .col
    - if user.admin
      %span.badge.bg-primary.mx-2 Admin
    - if user == current_user
      %span.badge.bg-success.mx-2 Current
  .col-2
    .col= f.input :first_name, label: false, input_html: {class: '', style: 'min-width: 16ch'}
    .col= f.input :last_name, label: false, input_html: {class: '', style: 'min-width: 16ch'}
  .col= f.input :address, label: false, input_html: {class: ''}
  .col
    = button_tag type: 'submit', class: 'btn btn-primary' do
      %span.m-2 Update
      %i.bi.bi-unlock


