=simple_form_for(User.new, :html => {method: :post, class: 'row' }) do |f|
  .col
  .col= f.input :email, required: true, label: false, input_html: {class: ''}
  .col= f.input :first_name, label: false, input_html: {class: ''}
  .col= f.input :last_name, label: false, input_html: {class: ''}
  .col= f.input :address, label: false, input_html: {class: ''}
  .col
    = button_tag type: 'submit', class: 'btn btn-primary' do
      %span.m-2 Create
      %i.bi.bi-plus