.row.mb-3{ id: "project_#{project.id}" }
  .col.border-end.border-bottom= link_to project.name, project
  .col.border-end.border-bottom{style: 'max-width: 32ch; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;'}= project.description
  .col.border-end.border-bottom= project.created_at
  .col.border-end.border-bottom= project.tasks.count
  -if can? :edit, Project or can? :destroy, Project
    .col.d-flex.gap-2
      -if can? :edit, Project
        %button{  'class': 'btn btn-primary',
                  'hx-target': "#project_#{project.id}",
                  'hx-get': edit_in_table_project_path(project),
                  'hx-trigger': 'click',
                  'hx-headers': "{ 'X-CSRF-Token': '#{form_authenticity_token}' }",
                  'hx-swap': 'outerHTML'
        }
          %span.m-2 Edit
          %i.bi.bi-lock
      -if can? :destroy, Project
        =button_to project_path(project), method: :delete, class: 'btn btn-danger' do
          %i.bi.bi-trash