.container.mt-3
  %h1 Edit project

  = simple_form_for(@project, url: project_path(@project), html: { method: :put }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name, required: true
      = f.input :description
    .form-actions
      = f.button :submit, "Update project", class: "btn btn-primary"

  = link_to 'Back', projects_path
