.container.mt-3
  %h1 New project

  = simple_form_for(Project.new, url: projects_path) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name, required: true
      = f.input :description
    .form-actions
      = f.button :submit, "Create project", class: "btn btn-primary"

  = link_to 'Back', projects_path
