.container.d-flex.justify-content-center.align-items-center.my-4{style:'min-height: 100%; max-width: fit-content;'}
  .card{style:'min-width: 100%'}
    .card-header
      .card-title
        %h2.card-title
          Log in

    .card-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }
          = f.input :password, required: false, input_html: { autocomplete: "current-password" }
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean

        .form-actions
          = f.button :submit, "Log in", class: "btn btn-primary"

      = render "devise/shared/links"
