-# navigacni lista nachazejici se na vrchu stranky
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %div
      -# brand / nazev aplikace
      = link_to 'Nazev aplikace', root_path, class: 'navbar-brand'



    -# hamburger menu pro mobilni zobrazeni
    %button.navbar-toggler{ type: 'button',
                            'data-bs-toggle': 'collapse',
                            'data-bs-target': '#navbarSupportedContent',
                            'aria-controls': 'navbarSupportedContent',
                            'aria-expanded': 'false',
                            'aria-label': 'Toggle navigation' }
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse

      -# navigacni menu
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to root_path, class: 'nav-link d-flex gap-1' do
            %i.bi.bi-house
            .text-decoration-underline
              Home
        %li.nav-item
          = link_to projects_path, class: 'nav-link d-flex gap-1' do
            %i.bi.bi-kanban
            .text-decoration-underline
              Projects
        %li.nav-item
          = link_to users_path, class: 'nav-link d-flex gap-1' do
            %i.bi.bi-people
            .text-decoration-underline
              Users
        %li.nav-item
          = link_to search_path, class: 'nav-link d-flex gap-1' do
            %i.bi.bi-search
            .text-decoration-underline
              Search

      -# jmeno uzivatele a jeho avatar (pokud je prihlasen) nebo informace o tom, ze neni prihlasen
      -# a odznacek admina (pokud je prihlasen a je admin)
      %ul.navbar-nav.gap-2.mx-4.d-flex.align-items-center
        %li.nav-item
          = link_to 'My projects', my_projects_path, class: 'nav-link text-decoration-underline'

        %li.nav-item
          = link_to 'My tasks', my_tasks_path, class: 'nav-link text-decoration-underline'

        - if current_user
          %li.nav-item= current_user.email
          - if current_user.avatar?
            %li.nav-item= image_tag current_user.avatar.url, class: 'rounded-circle', style: 'width: 2rem; height: 2rem;'
            - if current_user.admin
              %li.nav-item
                .badge.bg-primary.mx-2 Admin
        - else
          %li= 'No user signed in'

      -# navigacni menu pro prihlaseneho uzivatele
      %ul.navbar-nav
        - if current_user
          %li.nav-item= link_to 'Edit Account', edit_user_registration_path, class: 'nav-link'
          %li.nav-item= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-small btn-primary mx-2'
        - else
          %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Sign In', new_user_session_path, class: 'nav-link'
