-# komponenta slozici jako indikační prvek pro stránkování
%nav.d-flex.justify-content-center{'aria-label': 'Page navigation'}
  %ul.pagination
    %li.page-item
      = link_to 'First',
                    path + "?page=1",
                    class: 'page-link'
    %li.page-item
      = link_to 'Previous',
                    path + "?page=#{get_pages(table, page).prev_page}",
                    class: 'page-link'
    -# vsechny stranky
    - get_pages(table, page).total_pages.times do |i|
      %li.page-item{:class => i + 1 == get_pages(table, page).current_page ? 'active' : ''}
        = link_to i + 1, path + "?page=#{i + 1}", class: "page-link"
    %li.page-item
      =link_to 'Next',
                   path + "?page=#{get_pages(table, page).next_page}",
                   class: 'page-link'
    %li.page-item
      =link_to 'Last',
                   path + "?page=#{get_pages(table, page).total_pages}",
                   class: 'page-link'